#submitButton{

    display: inline-block;
    background:#70BDD5;
    color:#fff;
    text-decoration:none;
    padding:1em 2em;
    border: 1px solid #fff;
    margin: .5em 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin-right: 10px;
   

}
#logoHolder{
    width: 300px; 
    height: 200px 
  }
#submitButton:hover{
    background: #fff;
    color: #333333;
    
   }
#addInstruction{

    display: inline-block;
    background:#70BDD5;
    color:#fff;
    text-decoration:none;
    padding:1em 2em;
    border: 1px solid #fff;
    margin: .5em 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
   

}

#addInstruction:hover{
    background: #fff;
    color: #333333;
    
   }

h1{

    font-size: 1em;

}

body {
    margin:0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif,Helvetica,Sans-serif;
    background:#70BDD5;
    color:#fff;
    font-size:1.1em;
    line-height:1.5;
    text-align:center;
    }